extends layout 

block content 
    form(id = 'form' method = 'post' action = '/create')
        p Type in your Username 
            input(type = 'text' name = 'username')
        p Type in your Password 
            input(type = 'text' name = 'password')
        p Type in your Email 
            input(type = 'text' name = 'email')
        p Type in your Age 
            input(type = 'text' name = 'age')
        p Question #1:
        p What continent do you live in currently?   
            select(name='continent')
                option(value='NA') North America
                option(value='SA') South America
                option(value='EU') Eurpoe
                option(value='AS') Asia
                option(value='AF') Africa
                option(value='AU') Australia
                option(value='AN') Antartica
        p Question #2: 
        p What is your favorite color? 
            select(name='color')
                option(value='green') green 
                option(value='blue') blue
                option(value='pink') pink
                option(value='brown') brown
        p Question #3:
        p Which is your favorite card game? 
            select(name='cardgame')
                option(value='Go Fish') Go Fish 
                option(value='Old Maid') Old Maid
                option(value='War') War
                option(value='Memory') Memory
        p 
        p Avatar :
        p Hair Color: 
            select(name='hairColor')
                option(value='auburn') Auburn
                option(value='black') Black
                option(value='blone') Blone
                option(value='brown') Brown
                option(value='pastel') Pastel
                option(value='platinum') Platinum
                option(value='red') Red
                option(value='gray') Gray
        p Clothing: 
            select(name='clothing')
                option(value='blazer') Blazer 
                option(value='blazerAndShirt') Blazer and Shirt
                option(value='blazerAndSweater') Blazer and Sweater
                option(value='sweater') Sweater
                option(value='collarAndSwater') Collar and Sweater
                option(value='shirt') Shirt
                option(value='graphicShirt') Graphic Shirt
                option(value='shirtCrewNeck') Shirt Crew Neck
                option(value='shirtScoopNeck') Shirt Scoop Neck
                option(value='shirtVNeck') Shirt VNeck
                option(value='hoodie') Hoodie
                option(value='overall') Overall
        p Skin: 
            select(name='skin')
                option(value='tanned') Tanned
                option(value='yellow') Yellow
                option(value='pale') Pale
                option(value='light') Light
                option(value='brown') Brown
                option(value='black') Black
        p
            input(type = 'submit' value = 'add profile')