extends layout 

block content 
    form(id = 'form' method = 'post' action = '/edit')
        p Username 
            input(type = 'text' name = 'username' value = account)
        p Password 
            input(type = 'text' name = 'password'  value = account)
        p Email 
            input(type = 'text' name = 'email'  value = account)
        p Age 
            input(type = 'text' name = 'age'  value = account)
        p Question #1:
        p What continent do you live in currently?   
            select(name='continent')
                option(value='NA') North America
                option(value='SA') South America
                option(value='EU') Eurpoe
                option(value='AS') Asia
                option(value='AF') Africa
                option(value='AU') Australia
                option(value='AN') Antartica
        p Question #2: 
        p What is your favorite color? 
            select(name='color')
                option(value='green') green 
                option(value='blue') blue
                option(value='pink') pink
                option(value='brown') brown
        p Question #3:
        p Which is your favorite card game? 
            select(name='cardgame')
                option(value='Go Fish') Go Fish 
                option(value='Old Maid') Old Maid
                option(value='War') War
                option(value='Memory') Memory

        p 
            input(type = 'submit' value = 'Update profile')