extends layout 

block content 
        form(id = 'form' method = 'post' action = '/')
        p Username 
            input(type = 'text' name = 'username')
        p Password 
            input(type = 'text' name = 'password')
        p 
                input(type = 'submit' value = 'Login')
        p I hope you enjoy your stay here! 
        img(src="welcome.png", alt="")
        img(src="awesome.jpg", alt="", width=200, height=200)