th, td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
}

html{
    background-color:midnightblue;
    color:skyblue;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color:white;
}